fastapi
uvicorn[standard]
pydantic
pydantic-settings
email-validator
python-multipart
requests
jinja2
python-jose[cryptography]
passlib[bcrypt]
sqlalchemy
psycopg2-binary
reportlab
lxml
cryptography
httpx
